<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="waikato.ac.nz.hopara_android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DefinitionActivity"
            android:label="@string/title_activity_definition"
            android:parentActivityName=".MainScreenActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="waikato.ac.nz.hopara_android.MainScreenActivity" />
        </activity>
        <activity
            android:name=".PuketeActivity"
            android:label="@string/title_activity_pukete"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="waikato.ac.nz.hopara_android.MainScreenActivity" />
        </activity>
        <activity
            android:name=".KirikiriroaActivity"
            android:label="@string/title_activity_kirikiriroa"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="waikato.ac.nz.hopara_android.MainScreenActivity" />
        </activity>
    </application>

</manifest>